* {
  font-family: Poppins, sans-serif;
}

body {
  background-color: hsl(240, 11%, 98%);
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid rgb(84, 84, 85);
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item:hover {
  transition: 0.15s;
  box-shadow: 0 0 13px 7px rgba(0, 0, 0, 0.47);
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__price {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.item .item__image {
  width: 80%;
  align-self: center;
  border-radius: 10px;
}

.item .item__add {
  font-family: fantasy;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(0, 165, 143);
  height: 35px;
  color: white;
  border: 0;
  border-radius: 2.5px;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.item__add:hover {
  background-color: coral;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 1.7rem;
  text-align: center;
}

.cart__items {
  padding: 0;
}

.cart__items > li {
  list-style: none;
  margin: 7px 0;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid transparent;
}

.cart__items > li:hover {
  border: 2px solid rgb(0, 165, 143);
}

.cart__items > li .cart__item__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart__items > li .cart__item__picture {
  max-width: 100%;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart__items > li .cart__item__text {
  text-align: center;
  max-width: 70%;
}

.container-amount {
  text-align: center;
  margin: 10px 0;
  font-size: 1.5rem;
}

.loading {
  margin-top: 100px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 31%;
}

.title {
  margin-right: 50px;
}

.title h1 {
  font-size: 2.3rem;
}

#section-search {
  width: 40%;
  margin-right: 20px;
}

#input-search {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 1rem;
}

#section-btn-search {
  width: 15%;
}

#button-search {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(0, 165, 143);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

#button-search:hover {
  cursor: pointer;
  background-color: orange;
}

.empty-cart {
  width: auto;
}
