body {
  background-image: url(https://wallpapercave.com/wp/wp5126145.jpg);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid rgb(32, 0, 119);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  background-color: white;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: green;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
  color: white;
}

.cart__item {
  color: white;
}

.total-price {
  color: white;
}

.empty-cart {
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

.empty-cart:hover {
  background-color: rgba(32, 0, 119, 0.513);
  color: white;
  transition: 0.6s;
}

.empty-cart {
  transition: 0.6s;
}